@mixin gwf($fonts...)
  $url: "http://fonts.googleapis.com/css?family="
  $nb: 0
  
  @each $font-name in $fonts
    $nb: $nb + 1
    $nb-word: 0
    
    @each $word in $font-name
      $nb-word: $nb-word + 1
      $url: $url + $word
      
      @if $nb-word < length($font-name)
        $url: $url + "+"
    
    @if $nb < length($fonts)
      $url: $url + "|"
  
  @import url(#{$url})

@mixin type-scale($scale, $base, $value, $measure:"")
  @if $value == rem
    font-size: $scale#{px}
    font-size: context-calc($scale, $base, $value)
  @else if $value == em
    font-size: context-calc($scale, $base, $value)
  @else
    font-size: $scale#{px}

  @if $measure != ""
    @if $value == rem
      margin-bottom: measure-margin($scale, $measure, $value: px)
      margin-bottom: measure-margin($scale, $measure, $value)
    @else if $value == em
      margin-bottom: measure-margin($scale, $measure, $value: em)
    @else
      margin-bottom: measure-margin($scale, $measure, $value)

@mixin heading-init()
  @each $h, $size in $heading-sizes
    #{$h}
      @include type-scale($size, $font-base, '#{$typescale-unit}', $measure-base)
