    <footer role="contentinfo">
      <small class="copy">&copy; {{ now.Format "2006"}} Jodi Lewis</small>
      <span class="social" itemscope itemtype="http://schema.org/Organization">
        <link itemprop="url" href="http://jodi-lewis.com">
        <a itemprop="sameAs" href="https://www.facebook.com/jodilewis02"><img src="/img/facebook.png"></a>
        <a itemprop="sameAs" href="https://www.linkedin.com/company/jodi-lewis's-voice-studio"><img src="/img/linkedin.png"></a>
      </span>
    </footer>
    <script src="/js/responsive-nav.min.js" async></script>
  </body>
</html>
